html { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    font-family: helvetica, arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
    height: 100%;
    background-color: #7104ba;
}

.map-div {
  position: absolute;
  background-color: rgba(0,0,0,.75);
  width: 2800px;
  height: 2400px;
}


h1 {
    text-align: center;
    color: #ffffff;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover {
    /*padding: 0 1.5rem;*/
}

.cover .btn-lg {
    /*padding: .75rem 1.25rem;*/
    font-weight: bold;
}

#visvariables {
    align: left;
    top: 20%;
    left: 5%;
    position: absolute;
    z-index: 1;
}