html { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    font-family: helvetica, arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
    height: 100%;
    background-color: #7104ba;
}

.map-div {
  position: absolute;
  background-color: rgba(0,0,0,.75);
  width: 2800px;
  height: 2400px;
}


h1 {
    text-align: center;
    color: #ffffff;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.cover {
    /*padding: 0 1.5rem;*/
}

.cover .btn-lg {
    /*padding: .75rem 1.25rem;*/
    font-weight: bold;
}

#visvariables {
    align: left;
    top: 20%;
    left: 5%;
    position: absolute;
    z-index: 1;
}

#legend {
    top: 80%;
    left: 80%;
    height: 10%;
    width: 10%;
    background: rgb(242, 255, 252);
    opacity: 0.8;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
}

#legendRect {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}


#visvariables{
    top: 10%;
    left: 5%;
}

#matrixOD {
    margin: 2px;
    padding: 2px;
}

#matrixOD tr, td thead{
    text-align: center;
    padding: 2px;
}

#matrixFlow {
    margin: 2px;
    padding: 2px;
}

#matrixFlow tr, td thead{
    text-align: center;
    padding: 1px;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#timerContainer{
    top: 20%;
    left: 48%;
    position: absolute;
}

#timer{
    background-color: #ffffff;
    font-size: 40px;
}

